.wrapper {
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 60px;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 60px;
  gap: 30px;
}

.leftIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
}

.icon {
  width: 50px;
  height: 50px;
}

.icon:hover {
  transform: scale(1.15);
}

.iconM {
  width: 60px;
  height: 60px;
}

.iconM:hover {
  transform: scale(1.15);
}

.dropdownMenu {
  position: absolute;
  top: 80px;
  left: 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.dropdownMenu p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.dropdownMenu p:hover {
  color: #fff;
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    padding: 0 5%;
  }

  .logo {
    width: 160px;
    margin-top: 40px;
  }

  .icon,
  .iconM {
    width: 35px;
    height: 35px;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .leftIcons {
    margin-top: 40px;
  }

  .icons {
    margin-top: 40px;
    gap: 15px;
  }

  .dropdownMenu {
    top: 70px;
    left: 10px;
    padding: 8px 15px;
  }

  .dropdownMenu {
    transition: all 0.3s ease;
  }

  .dropdownMenu p {
    font-size: 14px;
    margin: 8px 0;
  }
}

@media screen and (max-width: 756px) {
  .wrapper {
    padding: 0 5%;
  }

  .logo {
    width: 120px;
    margin-top: 40px;
  }

  .icon,
  .iconM {
    width: 30px;
    height: 30px;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .leftIcons {
    margin-top: 40px;
  }

  .icons {
    margin-top: 40px;
    gap: 10px;
  }

  .dropdownMenu {
    top: 70px;
    left: 10px;
    padding: 8px 15px;
  }

  .dropdownMenu {
    transition: all 0.3s ease;
  }

  .dropdownMenu p {
    font-size: 14px;
    margin: 8px 0;
  }
}