.overlay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  margin-left: 0%;
}

.modal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  margin-left: 0%;
}

.button {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  align-items: center;
  margin-bottom: 10%;
  border-radius: 10px;
  padding: 10px;
  margin-right: 12px;
  margin-top: 15%;
}

.voir {
    width: 20px;
    background-color: transparent;
}

.eyeButton {
    background-color: transparent;
    border: none;
    padding-left: 20px;
}

.input {
    line-height: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 10px;
    padding: 10px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    width: 100%;
  }

.fade-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms ease, transform 300ms ease;
  }
  
  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }
  .fade-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 300ms ease, transform 300ms ease;
  }

  @media screen and (max-width: 900px) {
    .text {
      font-size: 15px;
      padding: 10px;
    }

    .input {
      width: 100%;
    }
  }
  