.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cardsContainer {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  min-width: 100%;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.légende {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.content {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border: 1px solid #d9d9d9;
  padding: 25px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  gap: 15px;
  margin-bottom: 5%;
}

.image {
  border-radius: 15px 0px 0px 15px;
  width: 50%;
}

.leftArrow,
.rightArrow {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
}

.leftArrow {
  left: 15%;
}

.rightArrow {
  right: 15%;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    width: 90%;
    padding: 15px;
  }

  .image {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .légende {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }

  .leftArrow,
  .rightArrow {
    display: none;
  }

  .cardsContainer {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .cardsContainer::-webkit-scrollbar {
    display: none; /* Masque la scrollbar sur iOS / Chrome */
  }

  .card {
    scroll-snap-align: center;
    width: 100vw
  }
}
